@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Mochiy+Pop+P+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald');
@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Poppins&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

:root
{
    --primary-cor:#409C32;
    --secondary-cor:#265C1D;
    --three-cor:#59DB46;
    --four-cor:#5FE84A;
    --five-cor:#50C23E;
    --gold-cor:#FFC857;
    --charcoal-cor:#2E4052;
    --purple-cor:#412234;
    --green-cor:#BDD9BF;
}


*{
    box-sizing: border-box;
    outline: none;
}

body
{
    background-color: var(--purple-cor);
    font-family: 'Inconsolata',sans-serif;
    display: flex;          /*coloca tudo em linha*/
    /*flex-direction: column; /*coloca tudo em coluna*/
    flex-wrap: wrap;
    /* align-items: center;    /*alinha horizontalmente*/
    /* justify-content: center;/*alinha tudo verticalmente com uso de height:100vh*/
   /* height: 100vh;
     overflow: hidden; /*BARRA DE SCROLL DOWN, HIDDEN ESCONDIDA*/
     margin: 0;
    /* overflow-x: hidden; /*REMOVER BARRA DE SCROLL HORIZONTAL*/
    /* padding: 10px;*/
    padding-top: 3rem;
}

.add {
    position: fixed;
    top: 1rem; /*1 rem = 16px*/
    right: 1rem;
    background-color: #9ec862;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    color: #fff;
    cursor: pointer;
    font-family: 'Inconsolata',sans-serif;
}
.add:active {
    margin-right: 10px;
}

.nota{
    background-color: #fff;
    box-shadow: 0 0 10px 4px rgba(0,0,0,0.1);
    margin: 30px 20px;
    height: 400px;
    width: 400px;
} 

.nota .ferr {
    background-color: #9ec862;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
}

.nota .ferr button{
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    margin-left: .5rem;
}

.nota textarea {
    outline: none;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    border: none;
    height: 400px;
    width: 100%;
    padding: 20px;
}

.main {
    padding: 20px;
}

.hidden {
    display: none;
}



/*///////////////////////////////////////////////////////////////////////////////////*/

@media(max-width: 480px)        /*para ecras mais pequenos*/
{
    body{
        overflow:visible;
    }

    footer 
    {
        /* display: none; */
    };

}

@media (max-width: 800px)
{
    body{
        overflow:visible;
    }
    footer 
    {
        /* display: none; */
    };
  

}


/*estilos do footer */

footer{
    font-size: 0.8rem;
    color: #fff;
    font-family:'Inconsolata',sans-serif ;
    text-align: center;
    /* border: 1px solid var(--charcoal-cor); */
    position: absolute;
     bottom: 0rem; 
     left: 50%; 
    transform: translate(-50%, -50%);
    font-weight: 500;
    padding: 0rem 0.9rem;
}

footer:hover{
    background-color: #333;
    color: #fff;
    border-radius: 20px;
    transform: translate(-50%,-50%) scale(1.2);
}
footer:hover a{
    color: yellow;
    font-weight: 700;
}
footer:hover a:hover{
    font-weight: 900;
    color:greenyellow;
}

footer a{
   color: #fff;  /*cor dos links a preto*/
   text-decoration: none;     /*retira o sublinhado dos links*/
  
}

footer a:hover{
    color: var(--gold-cor);
}




